.doc-wrap {
    padding: 3%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
}

.doc-container {
    background-color: white;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.sub-title {
    text-align: left;
    margin-bottom: 0 !important;
    margin-right: -3.15%;
    background-color: #b5c8e3;
    border-right: 0;
    border-radius: 8px 0 0 8px;
    padding: 1%;
    margin-top: 0;
}

.doc-container h4 {
    font-size: xx-large;
    margin-bottom: 3%;
}

.doc-container h5 {
    text-align: left;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.row-doc {
    overflow: hidden;
}

.doc-container ul {
    margin-top: 1%;
}

.doc-gap {
    margin-top: 3%;
}

.doc-container ul {
    list-style-type: none;
}

.doc-container li {
    background-color: #014896;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    padding: 1%;
    border-radius: 8px;
    margin-top: 1%;
}

.doc-container li a {
    color: white;
}

.in_text {
    margin-bottom: 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #014896;
}

.cat_text {
    width: 110%;
    margin-left: -30%;
}

.in_file {
    margin-bottom: 0;
    width: 100%;
    margin-left: -5%;
}

.btn_update {
    color: #014896;
    background-color: #b5c8e3;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border: 1px solid #014896;
    padding: 1%;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.btn_delete {
    color: #FFF;
    background-color: rgb(192, 42, 42);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    padding: 1%;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgb(129, 31, 31);
}

.b1 {
    padding: 0;
    padding-left: 5%
}

/* mobile style */

@media screen and (min-width:320px) and (max-width:640px) {
    .doc-wrap {
        padding: 8%;
        padding-top: 0%;
    }
    .doc-gap {
        margin-top: 8%;
    }
    .doc-container {
        padding: 5%;
    }
    .doc-container h5 {
        font-size: large;
    }
    .doc-container h4 {
        margin-top: 0;
    }
    .doc-container li {
        padding: 4%;
        margin-top: 2%;
    }
    .sub-title {
        margin-right: -5.7%;
        padding: 2%;
        padding-left: 3%;
    }
    .cat_text {
        width: 90%;
        margin-left: 4%;
        margin-top: 1%;
        margin-bottom: 3%;
    }
    .btn_update {
        margin-left: 4%;
    }
    .btn_delete {
        margin-left: 4%;
        margin-top: 2%;
    }
    .b1 {
        padding-left: 0;
    }
    .text2 {
        width: 90%;
        margin-left: 4%;
        margin-bottom: 4%;
    }
    .in_file{
        margin-left: 4%;
        margin-bottom: 4%;
    }
}