*,
*:before,
*:after {
    box-sizing: border-box;
}

form {
    color: #014896;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 13px;
    background-color: white;
}

h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border-radius: 10px;
}

button.accedi {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #014896;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #014896;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 10px;
}

button.accedi:hover {
    background-color: #014896;
    border: 1px solid #014896;
    transition: 0.3s ease;
    padding: 18px 39px 18px 39px;
    color: #fff2e6;
    font-size: 19px;
    border-width: 1px 1px 3px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 700px;
    }
    button.registrati {
        max-width: 700px;
    }
}

.car_int {
    position: relative;
    top: -.6em;
    color: #014896;
    font-family: calibri;
    font-weight: bold;
    text-align: center;
}

.linea {
    height: 2px;
    border-radius: 100px;
    background-color: #014896;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

button.registrati {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4d4d4d;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #4d4d4d;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

button.registrati:hover {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    transition: 0.3s ease;
    padding: 18px 39px 18px 39px;
    color: #fff2e6;
    font-size: 19px;
    border-width: 1px 1px 3px;
}

.logo {
    border: 5px solid #014896;
    border-radius: 10%;
    width: 20%;
    height: 20%;
    margin: auto;
}

.img {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}


/*checkbox*/

.container {
    box-shadow: rgba(0, 0, 0, 0.24) 5px 10px 20px;
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #4f5a64;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 15px;
}

.container:hover input~.checkmark {
    background-color: #ccc;
    border: 2px solid #999999;
    transition: 0.2s ease;
}

.container input:checked~.checkmark {
    background-color: #014896;
    border: 2px solid #014896;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}