/*.prova{
	background-color: grey;
	padding: 10px 10px 10px 10px;
	height: 60px;
	margin-top: 10px;
}
*/
header{
	width: 99%;
	height: 100px;
	margin: auto;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	margin-top: 7px;
}

.img{
	width: 90px;
	height: 90px;
}

body{
	background-color: #014896;
}

/*menù*/
.head-er{
	border-radius: 13px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
	border: 1px solid #779bcc
}
.nav-bar{
	width:100%;
	display: flex;
	justify-content: center;
}
nav{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #014896;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	font-weight: 600;
}

nav li a:hover {
    text-decoration: none;
	transition: 0.6s ease;
	color: #779bcc;
}

nav li a.active{
	color: black;
}