.prova{
	background-color: grey;
	padding: 10px 10px 10px 10px;
	height: 60px;
	margin-top: 10px;
}

header{
	width: 99%;
	height: 100px;
	margin: auto;
	border: 3px solid #ff8000;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	margin-top: 7px;
}

.img{
	width: 90px;
	height: 90px;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-color: #fff5ec;
}

.container{
	padding-top: 15px;
}

/*menù*/
nav{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	margin-left: 0px;
	margin-right: 0px;
	width: 99%;
	margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
	border-radius: 0 0 8px 8px;
	border: 3px solid #ff8000;
	border-top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	font-weight: 600;
}

nav li a:hover {
    text-decoration: none;
	transition: 0.6s ease;
	color: #cc6600;
}

nav li a.active{
	color: #384047;
	font-weight: 900;
}

.accessi{
	border-left: 0;
	border-bottom: 0;
	border-radius: 0 0 8px 0;
	float: left;
}