    .sport-wrap {
        padding: 3%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 0;
        padding-bottom: 2%;
    }
    
    .sport-container {
        background-color: white;
        border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    
    .row-sport {
        overflow: hidden;
    }
    
    .sport-gap {
        margin-top: 2%;
    }
    
    .sport-container iframe {
        height: 80vh;
        border-radius: 13px;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    }
    /* mobile style */
    
    @media screen and (min-width:320px) and (max-width:640px) {
        .sport-container iframe {
            height: 100vh;
        }
        .sport-wrap {
            padding: 2.3%;
        }
        .sport-gap {
            margin-top: 1%;
        }
        .sport-container {
            padding: 2%;
        }
    }