.news-wrap {
    padding: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.news-container {
    background-color: white;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

.sub-title {
    text-align: left;
    margin-right: 0 !important;
    margin-left: 20%  !important;
}

.news-container h4 {
    margin-top: 3%;
    font-size: xx-large;
    margin-bottom: 0;
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.news-container p {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 2%;
    margin-bottom: 0;
}

.news-container img {
    width: 94%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.news-container iframe {
    width: 99%;
    height: 105vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.row-news {
    overflow: hidden;
}

.in_text {
    margin-top: 1%;
    margin-bottom: 0;
    width: 85%;
    border-radius: 4px;
    border: 1px solid #014896;
    margin-left: -5%;
}

.in_file {
    margin-top: 1%;
    margin-bottom: 0;
    width: 85%;
    margin-left: -5%;
}

.mod_txtarea {
    width: 85%;
    height: 150%;
    border-radius: 4px;
    border: 1px solid #014896;
    margin-left: -5%;
}

.btn_update {
    color: #FFF;
    background-color: #014896;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border: 1px solid #014896;
    padding: 1%;
    width: 85%;
}

.btn_update:hover {
    transition: 0.3s ease;
    border-width: 3px;
    margin: -2px;
}

.btn_delete {
    color: #FFF;
    background-color: rgb(192, 42, 42);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border: 1px solid rgb(192, 42, 42);
    padding: 1%;
    width: 85%;
}

.btn_delete:hover {
    transition: 0.3s ease;
    border-width: 3px;
    margin: -2px;
}

.attachment {
    margin-bottom: 3%;
}

.attachment a {
    background-color: #014896;
    padding: 1.5%;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    font-size: 1.7vh;
    color: white;
}

.attachment-ad {
    margin-bottom: 3%;
}

.attachment-ad a {
    background-color: #014896;
    padding: 1.5%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    font-size: 1.7vh;
    color: white;
    margin-left: -2%;
}


/* mobile style */

@media screen and (min-width:320px) and (max-width:640px) {
    .news-wrap {
        padding: 8%;
        padding-top: 0%;
    }
    .news-container iframe {
        height: 60vh;
    }
    .news-gap {
        margin-top: 8%;
    }
    .attachment a {
        border-radius: 8px;
    }
}