*,
*:before,
*:after {
    box-sizing: border-box;
}

form {
    color: #014896;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 13px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 3%;
}

h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border-radius: 10px;
}

button.accedi {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #014896;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #014896;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 10px;
}

button.accedi:hover {
    background-color: #014896;
    border: 1px solid #014896;
    transition: 0.2s ease;
    padding: 18px 39px 18px 39px;
    color: #fff2e6;
    font-size: 19px;
    border-width: 1px 1px 3px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

.text {
    margin-left: auto;
    margin-right: auto;
}

.text h5 {
    color: #f28383;
}


/* mobile style */

@media screen and (min-width:320px) and (max-width:640px) {
    form {
        width: 94%;
        margin-top: 10%;
    }
}