/*slideshow*/

.mySlides {
    display: none;
}

.img-slideshow {
    vertical-align: middle;
    border-radius: 13px;
}

.slide {
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
    height: 50vh;
    width: auto;
}


/* Slideshow container */

.slideshow-wrapper {
    padding: 3%;
}

.slideshow-container {
    height: auto;
    position: relative;
    margin: auto;
    padding: 0;
}

.text-container {
    max-width: 80%;
    height: auto;
    position: relative;
    margin: auto;
}

.row-custom {
    background-color: white;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.myText {
    font-size: 1.2vw;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* On smaller screens, decrease text size */

@media screen and (min-width:320px) and (max-width:640px) {
    .text {
        font-size: 11px
    }
    .slide {
        margin-bottom: 10%;
        height: auto;
        width: 70vh;
    }
    .slideshow-wrapper {
        padding: 7%;
        width: 100%;
    }
    .myText {
        margin-bottom: 10%;
        max-width: 96%;
        font-size: 3.2vw;
    }
}