*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-color: #fff5ec;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border: 3px solid #ffa366;
  background-color: white;
}

h2 {
  margin: 10px 0 20px 0;
  text-align: center;
}

button.registrati {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #ff8000;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ff8000;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button.registrati:hover {
  background-color: #cc6600;
  border: 1px solid #cc6600;
  transition: 0.3s ease;
  padding: 18px 39px 18px 39px;
  color: #fff2e6;
  font-size: 19px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-left: 1px;
  font-size: 25px;
  font-weight: bold;
  color: #ff8000;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #ff8000;
  color: #fff;
  height: 25px;
  width: 25px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 700px;
  }
}

button.annulla {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #ff0000;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ff0000;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button.annulla:hover {
  background-color: #b30000;
  border: 1px solid #b30000;
  transition: 0.3s ease;
  padding: 18px 39px 18px 39px;
  color: #fff2e6;
  font-size: 19px;
  border-width: 1px 1px 3px;
}

.logo{
  background-color: white;
  border: 3px solid #ffa366;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.img{
  width: 70px;
  height: 70px;
  margin: 8px 0 0 13px;
}